/* The styles for the elements */
:root {
    --text-color: #ffffe1;
}
body {
    font-family: Arial, sans-serif;
    background: #252a34;
    margin: 0;
    padding: 0;
    align-items: center;
}
h1 {
    font-size: 250%;
    color: #36D4DCFF;
    text-align: center;
    margin-bottom: .5em;
}
br {
    clear: both;
}
p {
    text-align: center;
    color: var(--text-color);
}
a{
    text-decoration: none;
}
#quantity {
    width: 2em;
}

/* The styles for the tables */
table {
    border: 1px solid #ffffe1;
    border-collapse: collapse;
    width: 50em;

}
th, td {
    border: 1px solid #ffffe1;
    text-align: left;
    padding: .5em;
    color: var(--text-color);
}
.right {
    text-align: right;
}

.form {
    background: linear-gradient(135deg, #2a3c40, #59b8b8);
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 53%;
}
.welcome {
    margin-bottom: 30px;
}
.content {
    height: 85vh;
}
.form {
    margin-left: 20%;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: #323946;
    height: 12px;
}.footer a {
     color: #ffffe1;
 }

.footer-text p {
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #36D4DCFF;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #323946;
}


.botform button2 {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #36d4dc;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #36d4dc;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}


.botform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botform a{
    padding: 10px;
}

.botform button2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #36d4dc;
    z-index: -1;
}

.botform button2:hover, button:focus {
    color: white;
}

.botform button2:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.botform button2:active {
    transform: scale(0.9);
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
    box-sizing: border-box;
}

.checkbox-wrapper .container input {
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(0,0,70,0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(216, 212, 212, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
    transition: .5s;
}

.checkbox-wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-wrapper .container input::after {
    transition: .5s;
    font-family: monospace;
    content: '';
    color: #7a7a7a;
    font-size: 25px;
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #7a7a7a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}


.checkbox-wrapper .container input:checked::after {
    transition: .5s;
    border: solid #15bae3;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

.footer {
    height: 9vh;
}
