.loader_bg {
    position: fixed;
    z-index: 999999;
    background: linear-gradient(135deg, #2a3740, #59b8b8);
    width: 100%;
    height: 100%;
}

.loader {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #61d2cc;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: revert;
    font-family: 'Poppins', sans-serif;
    overflow-scrolling: unset;
}
:root {
    --bg-color: #252a34;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
}

body {
    background: #1d1f2a;
    color: #ffffff;
}
.spinner {
    width: 3em;
    height: 3em;
    cursor: not-allowed;
    border-radius: 50%;
    border: 2px solid #444;
    box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
    animation: rot55 0.7s linear infinite;
}

.spinnerin {
    border: 2px solid #444;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rot55 {
    to {
        transform: rotate(360deg);
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1c1e28;
    /*background: var(--bg-color);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    animation-delay: 2s;
}

.header {
    animation: slideRight 1s ease forwards;
}

.header.sticky {
    border-bottom: .3rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    text-shadow: 0 0 20px #00eeff;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span {
    color: #00eeff;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home\.img img {
    max-width: 450px;
    margin-right: -20px;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    box-shadow: -10px 5px 70px rgba(0, 0, 0, 0.1),10px 5px 70px rgba(0, 0, 0, 0.1) ;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00eeff;
    border-radius: 50%;
    font-size: 20px;
    color: #00eeff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: #00eeff;
    color: #1f242d;
    box-shadow: 0 0 20px #00eeff;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00eeff;
    border-radius: 40px;
    box-shadow: 0 0 10px #00eeff;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    transition: .5s ease;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

.btn:hover {
    box-shadow: none;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);

    position: relative;
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;
    overflow: hidden;
}

.about-img img {
    width: 35vw;
    border-radius: 100px;
    /*box-shadow: -10px 5px 70px #19686a,10px 5px 70px #19686a ;*/
    box-shadow: -10px 5px 70px rgba(0, 0, 0, 0.2),10px 5px 70px rgba(0, 0, 0, 0.2) ;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h2 span {
    color: #00eeff;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portfolio {
    background: var(--second-bg-color);
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px 10%;
}
.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio h2 span {
    color: #00eeff;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    transition: .5s ease;
    max-width: 100%;
    max-height: 100%;
    box-shadow: -10px 5px 70px rgba(0, 0, 0, 0.3),10px 5px 70px rgba(0, 0, 0, 0.3) ;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

/*.portfolio-layer h4 {*/
/*    font-size: 2.8rem;*/
/*    color: var(--second-bg-color); !* Màu chữ trắng tạo tương phản lớn *!*/
/*    -webkit-text-stroke: 1px var(--bg-color); !* Viền ngoài cho chữ với màu nền *!*/
/*    text-shadow: 2px 2px 2px rgba(136, 136, 136, 0.5); !* Bóng đổ xám nhạt *!*/

/*}*/

/*.portfolio-layer p {*/
/*    font-family: Arial, sans-serif; !* Lựa chọn font chữ *!*/
/*    font-size: 24px; !* Kích thước chữ *!*/
/*    line-height: 1.4; !* Khoảng cách dòng *!*/
/*    color: #ffffff; !* Màu chữ trắng tạo tương phản lớn *!*/
/*    -webkit-text-stroke: 1px var(--second-bg-color); !* Viền ngoài cho chữ với màu nền *!*/
/*    text-shadow: 2px 2px 2px rgba(136, 136, 136, 0.5); !* Bóng đổ xám nhạt *!*/
/*    background-color: #1d1f2a; !* Màu nền *!*/
/*    padding: 20px; !* Khoảng cách nội dung với biên *!*/
/*}*/


.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
}


.contact {
    color: var(--second-bg-color);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);

    position: relative;
    width: 100%;
    height: 100vh;
    padding: 120px 10% 0;
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact h2 span {
    color: #00eeff;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
.card {
    position: relative;
    width: 395px;
    height: 215px;
    background-image: url("img/C06Ex1.png");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card:hover:after {
    content: "HELLO";
}

/*KEYFRAMES ANIMATION*/
@keyframes slideRight {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}@keyframes slideTop {
     0% {
         transform: translateY(100px);
         opacity: 0;
     }
     100% {
         transform: translateX(0);
         opacity: 1;
     }
 }
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes ZoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}
/*BREAK POINT*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .footer{
        padding: 2rem 3%;
    }

}